@{
    ViewData["Title"] = "Home Page";
}
<html style="height: 100%">
<body style="background: linear-gradient(135deg, #9b76d7 10%, #0f12b7 100%)">
    <div class="text-center">
        <h1 class="display-4 text-light">Aviation Airlines</h1>
        <h2 class="display-3 text-light">Welcome!</h2>
        <div>
            <p class="text-light">Aviation Airlines is the fake airline that takes care of all your needs.</p>
            <p class="text-light">Come see all our fleet, look at our flights, or view our Passengers!</p>
        </div>
    </div>
</body>
</html>



